

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #adc0b8;
    margin: 0;
}


html {
    scroll-behavior: smooth;
  }

.navbar{
padding-left: 10px;
margin:auto;
display: flex;
flex-direction: row;
justify-content: center;
align-items:center;
background-image: url(images/Picture1.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 100px;
margin-top: 0%;
font-size:x-large;
padding-right: 20px;
position: fixed;
width: 100%;
z-index: 100;
padding-top: 20px;
}

.navbar img{
    max-width: 100px;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: -30px;
    margin-bottom: 0px;


}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

ul{
    display:flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
    padding-top: 3px;
    padding-left: 10px;
    margin:0px;
    margin-top: -40px;

}

li{
list-style: none;
padding: 1em;

}

.navbar a{
    font-family: 'Times New Roman', Times, serif;

}

.banner{
   margin: auto;
   padding: 0px 300px 0px 300px;
   max-width: 100%;
    padding-top: 400px;
    padding-bottom: 200px;    
    overflow: hidden;
    background-image: url(images/bannernovi.png);
    background-repeat:repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*****Testing scrolling animation*******/
.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }

  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
   
  .js-scroll.scrolled {
    opacity: 1;
  }


  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/*****Testing scrolling animation*******/


.banner h1{
    font-size: 70px;
    margin: auto;    
    padding-right: 0px;
}

.banner h1:hover{
    text-shadow: 5px 2px 3px rgba(0, 187, 171, 1);  

}
.navItems a{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navItems:hover{
    text-shadow: 5px 2px 3px rgba(0, 187, 171, 1);  
}

.logo:hover {
    -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 187, 1710));
    filter: drop-shadow(1px 2px 1px rgb(0, 187, 171)); 
}



.fora{
    max-width: 700px;
    display: flex;
    align-items:center;
    margin-left: 10px;
    

}

.foraIpasus img:hover{
    -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 187, 1710));
    filter: drop-shadow(1px 2px 1px rgb(0, 187, 171)); 
}

.foraIpasus{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 80px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #adc0b8;
    padding-right: 20px;
}


.pasus2{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    padding-top: 10px;
    text-align: center;
    padding-right: 20px;


}


.pasus{

    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    padding-top: 10px;
    text-align: center;
    padding-right: 20px;

}

.h2pasus{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2:hover{
    text-shadow: 5px 2px 3px rgba(0, 187, 171, 1);  

}


.about{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding-top: 200px;
}



.kontenijer{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-top: 0px;
    padding-bottom: 80px;
    padding-right: 20px;
    padding-left: 70px;
    background-color: rgb(237,237,238);
    text-align: center;

}

.kontenijer img{
    max-width: 700px;
    padding-right: 20px;
}

.kontenijer img:hover{
   
    -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 187, 1710));
    filter: drop-shadow(1px 2px 1px rgb(0, 187, 171)); 
    
}

/*****************************************/
/****************PROJECTS*****************/
/*****************************************/

.slike{ max-width: 300px;}


.idkVise{
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #adc0b8;

}

.textInProjects{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    
}

.projects img{
    
    align-self: center;
}

.projektiIslova{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    border: 20px solid rgb(237,237,238);
    background-color: #203a2b59;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    width: 500px;
    height: 487px;

}

.projektiIslova p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;        

}

.projektiIslova h3{
    background-color: rgb(237,237,238);
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    
}

.projektiIslova:hover{
    background-color: #203a2b59;
    transition: ease-in-out 0.5s all;
    transform: scale(1.03);
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
/*****************************************/
/*****************************************/
/*****************************************/



/*****************************************/
/****************FOOTER*****************/
/*****************************************/
.mainfooter{
    background-color: #adc0b8;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.mainfooter img{
    padding-right: 10px;
    padding-left: 10px;
}





/*****************************************/
/****************FORMS*****************/
/*****************************************/
.contact{
    background-color: rgb(237,237,238);
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
    
    
}

.formtypes{
    padding: 10px;
    
    
}
.prvaDva{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding: 0%;
    margin: 0%;
}

.drugaDva{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}

.dugme{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100px;
    height: 50px;
    margin-top: 19px;
    
}


.airplane{
    padding-left: 20px;        
    margin-top: 13px;
    padding: 23px;
    margin-top: 10px;
    padding-bottom: 40px;
    padding-top: 12px;
    border: none;
    color: black;
    background-image: linear-gradient(to right, #adc0b8 0%, rgb(237,237,238) 60%, #adc0b8 100%);
    flex: 1 1 1;
    transition: 0.5s;
    background-size: 160% auto; 
    border-radius: 10px;
}

button:hover{
    background-position: right center;
}

.airplane:active{
    background-image: linear-gradient(to right, #638174 0%, rgb(237,237,238) 60%, #638174 100%);
}

input[type=email]{
    -webkit-appearance: none;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: rgb(114, 201, 223) solid 1px;
}

input[type=email]:focus{
    border: none;
    outline: none;
}

input[type=text]{
    -webkit-appearance: none;
    width: 300px;
    height: 50px;
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: rgb(114, 201, 223) solid 1px;

}
input[type=text]:focus{
    border: none;
    outline: none;
    
}

input[type=message]{
    -webkit-appearance: none;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: none;
}


.msg input[type=text] {
    -webkit-appearance: none;
    width: 630px;
    height: 50px;
    color: black;
    background-color: transparent;
    justify-content: center;
}

.msg{
    display: flex;
    justify-content: center;
}

textarea{
    -webkit-appearance: none;
    width: 533px;
    height: 50px;
    color: black;
    background-color: transparent;
    justify-content: center;
    border: none;
    border-bottom: rgb(114, 201, 223) solid 1px;
    margin-bottom: -23px;
}

textarea:focus{
    border: none;
    outline: none;
}

  
/*****************************************/
/*****************************************/
/*****************************************/


  a.underlinewooshNav{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

a.underlinewooshNav:before{
    display: block;
    content: "";
    position:inherit;
    width: 0;
    height: 2px;
    bottom: -104px;
    left: 0;
    background-color: rgb(0, 187, 171);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.underlinewooshNav:hover:before {
    visibility: visible;
    width: 100%;
  }

  /***********************************/


  p.underlinewoosh{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

p.underlinewoosh:before{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -20px;
    left: 0;
    background-color: rgb(141, 219, 92);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

p.underlinewoosh:hover:before {
    visibility: visible;
    width: 100%;
  }



p.underlinewooshContact{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

p.underlinewooshContact:before{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 3.5px;
    bottom: 0px;
    left: 0;
    background-color: rgb(141, 219, 92);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

p.underlinewooshContact:hover:before {
    visibility: visible;
    width: 100%;
  }

a.underlinewooshNaslovi{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

a.underlinewooshNaslovi:before{
    content: "";
    position:absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    left: 0;
    background-color: rgb(0, 187, 171);
    visibility: hidden;
    transform:scaleX(0);
    transition: all 0.3s ease-in-out;
}

  .mainfooter p:hover{
    text-shadow: 5px 2px 3px rgba(0, 187, 171, 1);  
  }



.testest180{
    background-image: url(images/testnavbar.png);
    width: 100%;
    margin-top: 0px;
    background-size:cover;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 180px;
    background-position:bottom;
    background-repeat: no-repeat;
    
}



.testest{
    background-image: url(images/testnavbar-mirror.png);
    width: 100%;
    height: 180px;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 0%;
    margin-bottom: 0%;
    

}


/************ANIMATION on the banner****************/
.tracking-in-expand {
    -webkit-animation: focus-in-expand 0.8s linear 1.5s both;
    animation: focus-in-expand 0.8s linear 1.5s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-17 1:13:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }



/****************HAMBURGER****************/

.bRonlyATmedia{
    display: none ;
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:focus{
    outline: none;
}

/****************HAMBURGER****************/


/************ANIMATION****************/

  
  
.scroll-up-button-container{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0px;
    margin-right: 20px;
    text-align: end;
}
.scroll-up-button-container a{
    text-decoration: none;

}
.scroll-up-button-container img{
    max-width: 70px;

}
/************ANIMATION****************/



/***************************************************************
***************************RESPONSIVE***************************
****************************************************************
***************************************************************/

@media only screen and (max-width: 768px){
    .navbar{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: flex-end;
        text-align: right;
        background-image: url(images/Picture33.png);
        background-color: transparent;
        background-position: bottom;
        margin-top: 0px;
        padding-top: 0px;
        margin-top: -200px;
    }


        
    .navbar img{
            min-width: 20px;
            display: none;

        }

/****************HAMBURGER****************/
.nav-ul{
    display: none;
    width: 100%;
    flex-direction: column;

}

.nav-ul.show{
    display: flex;
    width: auto;
    padding: 0%;
    margin: 0%;

}

.hamburger{
    display: block;
    padding-right: 30px;
    padding-bottom: 20px;
    position: sticky;
}

.navbar button{
    padding-top: 220px;
}





.navItems a{

    position: relative;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navItems:hover{
    text-shadow: 5px 2px 3px rgba(0, 187, 171, 1);  
}



.logo:hover {
    -webkit-filter: drop-shadow(1px 2px 1px rgb(0, 187, 1710));
    filter: drop-shadow(1px 2px 1px rgb(0, 187, 171)); 
}
/****************HAMBURGER****************/


    body{
            padding: 0%;
            margin: 0%;
        }
    body img {
            max-width: 25px;
        }

    .banner{
        padding: 0%;
        margin: auto;
        overflow: hidden;
        background-image: url(images/bannernovi.png);
        background-repeat:repeat;
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
        justify-content: center;
        padding-bottom: 130px; 
        padding-top: 250px;
        }

        
        
    .banner h1{
        font-size: 7vh;
        padding: 0px 0px 0px 0px;
        padding-right: 0px;
        margin-left: 1em;
        
    }

    .bRonlyATmedia {
        display: block;
    }

    .pasus{
        text-align: left;
    }

    .fora{
        max-width: 300px;
        display: flex;
        align-items:center;
        margin: auto;
    
    }
    
    .foraIpasus{
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 80px;
        background-color: #adc0b8;
        padding-right: 20px;
        max-width: 400px;   
        margin: auto;
        padding-left: 20px;

    }

    .kontenijer{
        flex-direction: column;
        text-align: left;
        padding-bottom: 80px;
        padding-left: 20px;
  
    }
    .pasus{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-top: 0px;
        margin-right: 0px;
        padding-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        background-color: rgb(237,237,238);
        max-width: 400px;
        
}

    .pasus2{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-top: 0px;
        margin-right: 0px;
        padding-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        background-color: #adc0b8;
        max-width: 400px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
}

    .kontenijer img{
    margin-top:80px;
    max-width: 300px;
    padding-right: 20px;

    }





    .contact{
    background-color: rgb(237,237,238);
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
    }

    .prvaDva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    align-items: center;

    }

    .msg{
    display: flex;
    flex-direction:column;
    align-items: center;

    }

    .drugaDva{
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding: 0%;
        margin: 0%;
        overflow: hidden;
        align-items: center;

    }

    input[type=email]{
    -webkit-appearance: none;
    max-width: 300px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: rgb(114, 201, 223) solid 1px;
    }

    input[type=text]{
        -webkit-appearance: none;
        max-width: 300px;
        height: 50px;
        color: black;
        background-color: transparent;
        border: none;
        border-bottom: rgb(114, 201, 223) solid 1px;

    }


    .msg input[type=text] {
        -webkit-appearance: none;
        max-width: 300px;
        height: 50px;
        color: black;
        background-color: transparent;
        justify-content: center;
    }


    textarea{
        -webkit-appearance: none;
        max-width: 300px;
        height: 50px;
        color: black;
        background-color: transparent;
        justify-content: center;
        border: none;
        border-bottom: rgb(114, 201, 223) solid 1px;
        margin-bottom: -23px;
    }


/*****************************************/


    .dugme{
        display: flex;
        align-content:flex-end;
        min-width: 765px;
        max-height: 100px;
        margin-top: 19px;
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        max-width: 100px;
        max-height: 50px;
        margin-top: 19px;
    }

    .airplane{
        padding: 10px;
        margin: auto;
        border: none;
        color: black;
        background-image: linear-gradient(to right, #adc0b8 0%, rgb(237,237,238) 51%, #adc0b8 100%);
        flex: 1 1 1;
        transition: 0.5s;
        background-size: 160% auto; 
        border-radius: 10px;
        width: 100px;
        
    }

    /*****************************************/
    /****************PROJECTS*****************/
    /*****************************************/

    
    .projektiIslova{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        border: 48px solid rgb(237,237,238);
        background-color: #adc0b8;
        margin: auto;
        margin-top: 0px;
        max-width: 228px;
        max-height: 420px;
        margin-bottom: 30px;

        }
    
    .textInProjects {
        max-width: 228px;
        max-height: 28px;
        background-color: rgb(237,237,238); 
        padding: 5px;  
        margin-top: 7px; 
        text-align: center;
        display: block;
    }

    .idkVise{
        display: flex;
        position: relative;
        justify-content: center;
        margin: auto;
    }

        
    .idkVise p{
    background-color: #adc0b8;
    }


    .projects{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 40px;

        } 
    
    .projects img{
        max-width:200px
        
    }

    .projektiIslova h3{
        padding: 0%;
        max-width: 228px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        width: 100%;
        margin-top: 10px;
    }
    

        
.projektiIslova:hover{
    transition: ease-in-out 0.5s all;
    transform: scale(1.03);
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    background-color: #adc0b8;
}

    /*****************************************/
    /****************PROJECTS*****************/
    /*****************************************/


.slike{ max-width: 300px;
padding-top: 40px;}

.mainfooter img{
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100px;
}

.mainfooter{
    position: relative;
    margin-top: 0px;
}


}

